* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --black: #000000;
  --gray_neutral_900: #262626;
  --gray_neutral_950: #1c1c1c;
  --gray_neutral_100: #454545;
  --red_light: #ffdcdc;
  --red_error: #e54545;
  --orange_500: #f0b90b;
}

@-webkit-keyframes fadeIn {
  0%,
  25% {
    opacity: 0;
    z-index: 0;
  }
  75%,
  100% {
    opacity: 1;
    z-index: 200;
  }
}

@keyframes fadeOut {
  0%,
  25% {
    opacity: 1;
    z-index: 10;
  }
  75%,
  100% {
    opacity: 0;
    z-index: -1;
  }
}

.fadeOut {
  -webkit-animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  -webkit-animation-name: fadeOut;
  animation-duration: 0.5s;
  animation-fill-mode: both;
  animation-name: fadeOut;
}

.fadeIn {
  -webkit-animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  -webkit-animation-name: fadeIn;
  animation-duration: 0.5s;
  animation-fill-mode: both;
  animation-name: fadeIn;
}
