.modal {
  position: fixed;
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  flex-direction: row;
  z-index: 200;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 14px;
  border-radius: 16px;
  backdrop-filter: blur(18px);
}

.modal_left {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 30px;
}
.modal_iniciative {
  align-items: center;
  background: var(--gray_neutral_900);
  border-radius: 0 16px 16px 0;
  color: white;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  max-width: 540px;
  width: 100%;
  text-align: center;
}
.modal_iniciative h3 {
  font-size: 2rem;
  font-weight: 700;
  margin-top: 46px;
  max-width: 455px;
}
.modal_iniciative p {
  font-size: 1.2rem;
  font-weight: 400;
  max-width: 455px;
}
.btn_back {
  align-items: center;
  align-self: baseline;
  background: transparent;
  border: none;
  color: white;
  display: flex;
  gap: 15px;
  height: 24px;
  justify-content: center;
}
.modal_form {
  margin: auto;
  max-width: 424px;
  max-height: 497px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.btn_back:hover {
  cursor: pointer;
}
.btn_primary:hover {
  cursor: pointer;
}
.btn_secondary:hover {
  cursor: pointer;
}
.modal_form_buttons {
  display: flex;
  width: 100%;
  max-width: 225px;
  background: var(--gray_neutral_900);
  border-radius: 10px;
}
.btn_primary {
  align-items: center;
  background: var(--orange_500);
  color: white;
  display: flex;
  font-size: 0.8rem;
  font-weight: 700;
  justify-content: center;
  padding: 16px 20px;
  width: 100%;
  border: none;
  border-radius: 10px;
}

.btn_secondary {
  align-items: center;
  background: var(--gray_neutral_900);
  color: white;
  display: flex;
  font-size: 0.8rem;
  font-weight: 700;
  justify-content: center;
  padding: 16px 20px;
  width: 100%;
  border: none;
  border-radius: 10px;
}

.btn_send_email {
  color: var(--gray_neutral_900);
  gap: 10px;
  border-radius: 4px;
  font-weight: 700;
}
.btn_send_email:hover {
  cursor: pointer;
}
.label_support {
  font-weight: 400;
  font-size: 0.8rem;
  color: white;
  text-align: center;
}

@media (max-width: 320px) {
  .modal {
    flex-direction: column;
    height: auto;
  }
  .modal_form {
    gap: 40px;
  }
}

/* Medium screens (min-width: 321px and max-width: 640px) */
@media (min-width: 321px) and (max-width: 640px) {
  .modal {
    flex-direction: column;
    height: auto;
  }
  .modal_form {
    gap: 40px;
  }
}

/* Large screens (min-width: 641px) */
@media (min-width: 641px) {
}
